<center><h1>Live Coding Udacity</h1></center>
<center><h4>Explorando dados do CEAPS</h4></center>

Notebook utilizado durante o Live Coding para os alunos do Udacity.

In [1]:
#Leitura do dataset
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
#Versão do pandas utilizada
pd.__version__

'0.20.3'

In [5]:
#Leitura do dataset
df = pd.read_csv('data/data cleaning/2016.csv', encoding='latin1', delimiter=';')

In [6]:
#Cinco primeiras linhas do DataFrame
df.head()

                                                                                                                                                                                  ULTIMA ATUALIZACAO  \
ANO  MES SENADOR      TIPO_DESPESA                                       CNPJ_CPF           FORNECEDOR                       DOCUMENTO DATA                                             DETALHAMENTO
2016 1   ACIR GURGACZ Aluguel de imóveis para escritório político, co... 05.914.650/0001-66 ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA 000011328 13/01/2016  Despesa com pagamento de energia elétrica para...
                                                                                                                             000011327 18/01/2016  Pagamento de energia elétrica para o escritóri...
                                                                         004.948.028-63     GILBERTO PISELO DO NASCIMENTO    001/16    04/01/2016  Despesa com pagamento de aluguel, utilizado pa...
                                                                         05.423.963/0001-11 OI MÓVEL S.A.                    661639001 16/01/2016  despesa com pagamento de telefonia para o escr...

                                                                                                                                                    16/09/2017 04:01
ANO  MES SENADOR      TIPO_DESPESA                                       CNPJ_CPF           FORNECEDOR                       DOCUMENTO DATA        VALOR_REEMBOLSADO
2016 1   ACIR GURGACZ Aluguel de imóveis para escritório político, co... 05.914.650/0001-66 ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA 000011328 13/01/2016               73,6
                                                                                                                             000011327 18/01/2016             206,84
                                                                         004.948.028-63     GILBERTO PISELO DO NASCIMENTO    001/16    04/01/2016               6000
                                                                         05.423.963/0001-11 OI MÓVEL S.A.                    661639001 16/01/2016             407,48

In [27]:
#Verificando alguns dados estatísticos básicos
df.describe()

           ANO           MES
count  26691.0  26691.000000
mean    2016.0      6.470908
std        0.0      3.257134
min     2016.0      1.000000
25%     2016.0      4.000000
50%     2016.0      6.000000
75%     2016.0      9.000000
max     2016.0     12.000000

In [28]:
#Visualizando tamanho do dataset
df.shape

(26691, 10)

In [29]:
#Como o pandas está tratando cada coluna do dataset
df.dtypes

ANO                   int64
MES                   int64
SENADOR              object
TIPO_DESPESA         object
CNPJ_CPF             object
FORNECEDOR           object
DOCUMENTO            object
DATA                 object
DETALHAMENTO         object
VALOR_REEMBOLSADO    object
dtype: object

In [30]:
#Alterando virgulas por pontos e transformando coluna em inteiro
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',', '.')
df['VALOR_REEMBOLSADO'] = pd.to_numeric(df['VALOR_REEMBOLSADO'])

In [31]:
#Selecionando linhas de um dataset com base em uma condição
df[df['DATA'] == '20/07/5017']

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
2194,2016,10,SENADOR 9,"Aluguel de imóveis para escritório político, c...",41.054.867/0001-07,Jadan Office Center,1101610021,20/07/5017,"Taxa de condomínio do escritório parlamentar, ...",811.89

In [32]:
#Selecionando linhas em que haja 5017 nos ultimos quatro caracteres e colocando um novo valor
df.loc[df['DATA'].str[-4:] == '5017','DATA'] = '20/07/2017'

In [33]:
#Alterando datas estão com 2106 para 2016
df.loc[df['DATA'].str[-4:] == '2106','DATA'] = '2016'

In [34]:
#Alterando datas estão com 0216 para 2016
df.loc[df['DATA'].str[-4:] == '0216','DATA'] = '2016'

In [35]:
#Alterando datas estão com 3016 para 2016
df.loc[df['DATA'].str[-4:] == '3016','DATA'] = '2016'

In [36]:
#Selecionando dados inválidos com base em multiplas condições
df.loc[(df['DATA'].str[-4:] != '2016') & (df['DATA'].str[-4:] != '2017') & (df['DATA'].str[-4:] != '2015')]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
722,2016,8,SENADOR 3,"Passagens aéreas, aquáticas e terrestres nacio...",58.645.359/0001-04,ALTERNATUR AGÊNCIA DE VIAGEM E TURISMO LTDA,ZE6S2F,09/08/2101,"Companhia Aérea: GOL, Localizador: ZE6S2F. Pas...",1063.72
2175,2016,9,SENADOR 9,"Locomoção, hospedagem, alimentação, combustíve...",02.783.295/0001-45,Salgueiro Plaza Hotel LTDA,18136,16/09/2019,"Hospedagem do Senador Armando Monteiro Neto, M...",180.00
8177,2016,9,SENADOR 34,"Locomoção, hospedagem, alimentação, combustíve...",07.639.184/0001-83,Hotel e Restaurente Açai,02392,28/09/2019,NaN,495.00
12586,2016,7,SENADOR 46,"Locomoção, hospedagem, alimentação, combustíve...",09.215.572/0001-62,GELA PUB,000003900,18/07/2019,DESPESA COM ALIMENTAÇÃO DO SENADOR,383.34
12792,2016,9,SENADOR 46,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ADRIA VIAGENS,3LNNPN,01/09/2019,"Companhia Aérea: AVIANCA, Localizador: 3LNNPN....",814.27
13701,2016,9,SENADOR 49,"Locomoção, hospedagem, alimentação, combustíve...",06.154.675/0001-71,M. A. ALVES COMÉRCIO,003140,23/09/2013,DESPESAS COM HOSPEDAGEM PARA A SENADORA,675.00
13719,2016,10,SENADOR 49,"Locomoção, hospedagem, alimentação, combustíve...",56.548.779/0001-39,Transamérica Comercial e Serviços Ltda SCP La ...,00038600,31/10/0200,"Hospedagem (R$ 648,44) e alimentação (R$ 40,00...",688.44
17928,2016,10,SENADOR 62,"Locomoção, hospedagem, alimentação, combustíve...",37.063.328/0030-00,Auto Shopping Derivados de Petroleo Ltda,621942,10/10/1977,Aquisição de combustível para veículos utiliza...,152.51
17960,2016,10,SENADOR 62,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,5HJBB4,31/10/0206,"Companhia Aérea: LATAM, Localizador: 5HJBB4. P...",1860.79
19434,2016,1,SENADOR 68,"Locomoção, hospedagem, alimentação, combustíve...",12.051.033/0001-40,Francisco Ferreira de Castro MEE,12053,04/09/2018,Hospedagem de servidor lotado no escritório pa...,100.00
20147,2016,3,SENADOR 71,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ADRIA VIAGENS E TURISMO LTDA.,3XMRSO,30/06/2018,"Companhia Aérea: AVIANCA, Localizador: 3XMRSO....",382.03
20674,2016,3,SENADOR 73,"Locomoção, hospedagem, alimentação, combustíve...",02.056.402/0001-33,AUTO POSTO MOCELIN LTDA,72499,19/03/1986,COMBUSTÍVEL PARA AUTOMÓVEL EM ATIVIDADE PARLAM...,139.16
21758,2016,11,SENADOR 76,"Contratação de consultorias, assessorias, pesq...",62.652.961/0001-38,AGENCIA ESTADO S.A,0632620,03/11/2019,referente a serviço de licença de conteúdo jor...,2805.50
24551,2016,4,SENADOR 88,"Passagens aéreas, aquáticas e terrestres nacio...",11.285.702/0001-85,JB TURISMO LTDA (TIME TOUR),3K7DJ2,01/04/2014,"Companhia Aérea: AVIANCA, Localizador: 3K7DJ2....",374.83
24552,2016,4,SENADOR 88,"Passagens aéreas, aquáticas e terrestres nacio...",11.285.702/0001-85,JB TURISMO LTDA (TIME TOUR),3KUSZ7,29/04/2014,"Companhia Aérea: AVIANCA, Localizador: 3KUSZ7....",374.83
24965,2016,5,SENADOR 89,"Aluguel de imóveis para escritório político, c...",13.927.801/0001-49,PREFEITURA DE SALVADOR (IPTU),567.013-6/05/2016,02/05/2012,PAGAMENTO DE IPTU DO ESCRITÓRIO POLÍTICO DO SE...,162.40
26547,2016,10,SENADOR 93,"Locomoção, hospedagem, alimentação, combustíve...",16.955.896/0005-26,Baru Restaurante Ltda,4926,25/10/2014,NaN,596.09

In [37]:
#Transformando a coluna de data em datetime, considerando datas invalidas como nulas
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

In [38]:
#Selecionando valores unicos da coluna Tipo de Despesa
df['TIPO_DESPESA'].unique()

array([ 'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
       'Passagens aéreas, aquáticas e terrestres nacionais',
       'Divulgação da atividade parlamentar',
       'Serviços de Segurança Privada'], dtype=object)

In [39]:
#Mapeando novos valores para a coluna Tipos de Despesa
df['TIPO_DESPESA'] = df['TIPO_DESPESA'].map({'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.': 'Aluguel',
                                             'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ': 'Despesas gerais',
                                             'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar': 'Contratações',
                                             'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes': 'Locomoção, hospedagem e alimentação',
                                             'Passagens aéreas, aquáticas e terrestres nacionais': 'Passagens',
                                             'Divulgação da atividade parlamentar': 'Divulgação',
                                             'Serviços de Segurança Privada': 'Segurança'})

In [40]:
#DataFrame após a limpeza
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,SENADOR 1,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,2016-01-13,Despesa com pagamento de energia elétrica para...,73.60
1,2016,1,SENADOR 1,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,2016-01-18,Pagamento de energia elétrica para o escritóri...,206.84
2,2016,1,SENADOR 1,Aluguel,004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,2016-04-01,"Despesa com pagamento de aluguel, utilizado pa...",6000.00
3,2016,1,SENADOR 1,Aluguel,05.423.963/0001-11,OI MÓVEL S.A.,661639001,2016-01-16,despesa com pagamento de telefonia para o escr...,407.48
4,2016,1,SENADOR 1,Despesas gerais,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,2016-06-01,Aquisição de publicação virtual de conteúdo jo...,550.00

In [41]:
#Criando novo dataset com os dados limpos
df.to_csv('dados_limpos_ceaps.csv', index=False)